---
import Navbar from '../components/navbar.astro'
import '../styles/index.css'
import '../styles/scrollbar.css';
import '../styles/global.css';
import { Image } from 'astro:assets';
import island from '../images/island.png'
import apiimage from '../images/api.png'
import edge from '../images/edge.png'
import javaimg from '../images/java.png'
import custom from '../images/customize.png'
import react from '../images/react.png'
import mainisland from '../images/astro-island.png'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://astro.js.org/astro.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Expense Manager</title>
	</head>
	<body>
		<Navbar/>
		<div class="content">
		<div class="heading">
		<img src="https://astro.js.org/astro.png" alt="">
		<h1>What is <span class="orange">astro</span>?</h1>
		</div>
		<p>An open-source web framework.<br>Focused on performance</p>
		<div class="compartments">
			<div><h2>Component Islands</h2><Image src={island} alt='island'/></div>
			<div><h2>Server-first API design</h2><Image src={apiimage} alt='island'/></div>
			<div><h2>Zero JS, by default</h2><Image src={javaimg} alt='island'/></div>
			<div><h2>Edge-ready</h2><Image src={edge} alt='island'/></div>
			<div><h2>Customizable</h2><Image src={custom} alt='island'/></div>
			<div><h2>UI-agnostic</h2><Image src={react} alt='island'/></div>
		</div>
		<div class="island">
		<h1>What is an <span class="orange">astro</span> island?</h1>
		<p>The term “Astro Island” refers to an interactive UI component on an otherwise static page of HTML. 
			Multiple islands can exist on a page, and an island always renders in isolation.</p>
        <img src={mainisland.src} alt="This is an image">
	    </div>
		</div> 
	</body>
</html>


